<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace = "com.cen.mapper.MemberMapper">
 
 
 	<select id="login"
 			parameterType="com.cen.model.LoginDTO"
 			resultType="com.cen.domain.MemberVO">
 		select
 			*
 		from
 			tbl_member
 		where
 			id=#{userid} AND
 			password=#{userpw};			
 	</select>
 	
 	<select id="getOrgCode"
 			parameterType="java.lang.String"
 			resultType="int">
 		select
			org_code
		from
			tbl_org
		where
			org_name=#{org_name};
 	</select>
 	
 	<select id="getOrgAdderss"
 			parameterType="int"
 			resultType="java.lang.String">
 		select 
			org_address
		from
			tbl_org
		where
			org_code=#{org_code};
 	</select>
 	
 
	<insert id="registerMember"
			parameterType="com.cen.domain.MemberVO">
		insert into tbl_member 
			(id, password, name, nickname, email, phnum, org_code, recent_address)
		value
			(#{id}, #{password}, #{name}, #{nickname}, #{email}, #{phnum}, #{org_code}, #{recent_address});	
	</insert>
 
 	
 	
 	
 
 </mapper>
 
 

