<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace = "com.cen.mapper.saleMapper">
 	
 	<!-- 게시글의 갯수를 가져온다 -->
 	<select id="getBoardCnt"
 			resultType="int">
 		select
			case 
				when count(*)=0
					then 0
				else
					max(sb_num)
				end as numb
		from
			tbl_sboard;	
 	</select>
 	
 	<!-- 게시글을 삽입한다. -->
 	<insert id="insertBoard"
 			parameterType="com.cen.model.SaleRegisterDTO">
 		insert into tbl_sboard 
			(sb_num, sb_writer, sb_nickname, sb_name, sb_detail, Total_price, 
			 Total_quantity, ct_num, trade_shape, sb_view, trade_area)
		value
			(#{sb_num}, #{sb_writer}, #{sb_nickname}, #{sb_name}, #{sb_detail}, #{Total_price}, 
			 #{Total_quantity}, #{ct_num}, #{trade_shape}, #{sb_view}, #{trade_area});
 	</insert>
 	
 	<!-- 이미지들을  테이블에 삽입한다.-->
 	<insert id="insertImage"
 			parameterType="com.cen.model.ViewDTO">
 		insert into 
 			tbl_view(sb_num, view_name)
 		value
 			(#{sb_num}, #{view_name}); 			
 	</insert>
 	
 	<!-- 나의 소속기관을 가져온다. -->
 	<select id = "getOrgName"
 			resultType="String">
 		select
			org_name
		from
			tbl_member
		where
			id=#{id};
 	</select>
 	
 	
 	<!-- 나의 최근 거래지역을 가져온다. -->	
 	<select id = "getRecentAddress"
 			resultType="String">
 		select
			recent_address
		from
			tbl_member
		where
			id=#{id};
 	</select>
 	
 	<!-- 나의 최근 거래지역을 업데이트한다. -->
 	<update id ="updateRecentAddress"
 			parameterType="java.util.HashMap">
 		update 
			tbl_member
		set 
			recent_address=#{recent_address}
		where 
			id=#{id};
 	</update>
 	
 	
 	<!-- 게시글의 판매여부를 바꾼다. -->
  	<update id="updatePorgress"
  			parameterType="java.util.HashMap">
  		update tbl_sboard
		set trade_progress="${trade_progress}"
		where sb_num=${sb_num};
   	</update>
  	
  	<!-- 등록한 게시물 삭제하기 -->
  	<delete id="deleteBoard"
  			parameterType="java.lang.String">
  		delete from	tbl_sboard
		where sb_num=${sb_num};
  	</delete>
  	
  	<!-- 게시글의 내용을 업데이트한다. -->
  	<update id ="updateSaleBorad"
 			parameterType="com.cen.domain.SboardVO">
 		update tbl_sboard
		set 
			sb_name=#{sb_name},
		    sb_detail=#{sb_detail},
		    Total_price=#{Total_price},
		    Total_quantity=#{Total_quantity},
		    ct_num=#{ct_num},
		    trade_shape=#{trade_shape},
		    trade_area=#{trade_area}
		where 
			sb_num=#{sb_num};
 	</update>
 	
 </mapper>
 
 
 